/отчеты
sources/Лабораторная работа 1. Работа с таймерами и портами ввода-вывода STM32F1.pdf
sources/TIM_example.zip
sources/msys2-x86_64-20250830.exe
sources/Лабораторная работа 3. Работа с интерфейсом UART.pdf
sources/Лекция 5. Работа с UART.ppt
config.js
